<header id="header">
    <div class="social-medias-contact-header">
        <div class="media-icons-container">
            <a class="social-contact-icon" href="https://api.whatsapp.com/send?phone=5522999034477" target="_blank">
                <img src="/assets/icons/whatsapp-icon.svg" alt="Ícone do WhatsApp" />
            </a>
            <a class="social-contact-icon" href="https://www.instagram.com/pnsdasgracaslagomar/" target="_blank">
                <img class="social-contact-icon" src="/assets/icons/instagram-icon.svg" alt="Ícone do Instagram">
            </a>
            <a class="social-contact-icon" href="https://www.facebook.com/nossasenhoradasgracaslagomar" target="_blank">
                <img class="social-contact-icon" src="/assets/icons/facebook-icon.svg" alt="Ícone do Facebook" />
            </a>
        </div>
        <div class="information-contacts-container">
            <div class="email-contact">
                <a class="link" href="mailto:pnsg@vicariatolitoraluol.com.br">
                    <mat-icon class="social-contact-icon">mail_outline</mat-icon>
                    <div class="social-contact-label">pnsg@vicariatolitoraluol.com.br</div>
                </a>
            </div>
            <div class="number-contact">
                <a class="link" href="tel:022999034477">
                    <mat-icon class="social-contact-icon">call</mat-icon>
                    <div class="social-contact-label">(22) 999034477</div>
                </a>
            </div>
        </div>
        
    </div>
    <mat-toolbar class="menu-header">
        <img class="pnsg-logo" src="/assets/images/nsg_logo.png" alt="teset">
        <div class="title-container">
            Paróquia <br/>Nossa Senhora das Graças
        </div>
        <div class="menu-buttons">
            <button routerlink="" mat-button class="default-menu-header-button"> 
                Início
            </button>
            <button routerlink="" mat-button class="default-menu-header-button">
                A Paróquia
            </button>
            <button routerlink="" mat-button class="default-menu-header-button">
                Pastorais
            </button>
            <button routerlink="" mat-button class="default-menu-header-button">
                Comunidades
            </button>
            <button routerlink="" mat-button class="default-menu-header-button">
                Díziomo
            </button>
            <button routerlink="" mat-button class="default-menu-header-button">
                Agenda
            </button>
            <button routerlink="" mat-button class="default-menu-header-button">
                Galeria
            </button>
        </div>
        <div class="highlighted-button-container">
            <button routerlink="" mat-button class="highlighted-button">
                Peça sua intenção
            </button>
        </div>
    </mat-toolbar>
</header>